<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Runtime</string>
		<key>protocol</key>
		<string>DZRuntimeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>多线程</string>
		<key>protocol</key>
		<string>DZMultithreadingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Runloop</string>
		<key>protocol</key>
		<string>DZMultithreadingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>排序</string>
		<key>protocol</key>
		<string>DZSortViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Block</string>
		<key>protocol</key>
		<string>DZMultithreadingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TCP/IP</string>
		<key>protocol</key>
		<string>DZMultithreadingViewController</string>
	</dict>
</array>
</plist>
